* {
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-size: 5vw;
}

h1 {
	font-weight: 600;
	font-size: 2.5rem;
}

h2 {
	font-weight: 400;
	font-size: 1.2rem;
}

p {
	font-weight: 300;
	font-size: 1rem;
}

a, button.a {
	border-style: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	cursor: pointer;
}

@media (min-width: 768px) {
	* {
		font-size: 2vw;
	}
}
